<div class="container">
<% @stocks.each do |stock| %>
<div class="row justify-content-md-center">
<div class='col-8 mt-4' > 
<div class="card text-center shadow mb-5 bg-white rounded">
  <div class="card-header">
    <% if stock.user %>
      <%= link_to stock.user.username, user_path(stock.user) %>
    <% end %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= link_to stock.name, stock_path(stock) %></h5>
    <p class="card-text"><%= truncate(stock.description, length: 100 )%></p>
    <%= link_to "View", stock_path(stock), class: "btn btn-outline-success" %>
    <%= link_to "Edit", stock_path(stock), class: "btn btn-outline-info" %>
    <%= link_to "Delete", stock_path(stock), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
  <div class="card-footer text-muted">
    <small>Created <%= time_ago_in_words(stock.created_at) %>, Edited <%= time_ago_in_words(stock.updated_at) %> ago </small>
  </div>
</div>
</div>
</div>
<% end %>
</div>