
<div class="container" id="home-container">
<div class="jumbotron text-center text-white">
  <h1 class="display-4">Welcome to Plutus</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Log In!</a>
  </p>
</div>
</div>  


<h1 class="text-center mt-4">Browse all stocks</h1>
<div class="container">
<% @stocks.each do |stock| %>
<div class="row justify-content-md-center">
<div class='col-8 mt-4' > 
<div class="card text-center shadow mb-5 bg-white rounded">
  <div class="card-header">
    <%= stock.user.username %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= link_to stock.name, stock_path(stock) %></h5>
    <p class="card-text"><%= truncate(stock.description, length: 100 )%></p>
    <%= link_to "View", stock_path(stock), class: "btn btn-outline-success" %>
    <%= link_to "Edit", stock_path(stock), class: "btn btn-outline-info" %>
    <%= link_to "Delete", stock_path(stock), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
  <div class="card-footer text-muted">
    <small>Created <%= time_ago_in_words(stock.created_at) %>, Edited <%= time_ago_in_words(stock.updated_at) %> ago </small>
  </div>
</div>
</div>
</div>
<% end %>
</div>

<%= link_to 'Create New Stock', new_stock_path %>

