<h1>Browse all stocks</h1>
<p><strong>Stock: </strong><p>
<table>
    <thead>
        <tr>
        <th>Name:</th>
        <th>Description:</th>
        <th>Symbol:</th>
        </tr>
    </thead>
    <tbody>
        <% @stocks.each do |stock| %>
        <tr>
            <td><%= stock.name %></td>
            <td><%= stock.description %></td>
            <td><%= link_to 'Show', stock_path(stock) %></td>
            <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
            <td><%= link_to 'Delete', stock_path(stock), method: :delete, data: {confirm: "Are you sure?"} %></td>

        </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Create New Stock', new_stock_path %>